<select class="form-control" id="province">
  <option value="0">All provinces</option>
  <option value="1">H&#224; Nội</option>
  <option value="2">H&#224; Giang</option>
  <option value="4">Cao Bằng</option>
  <option value="6">Bắc Kạn</option>
  <option value="8">Tuy&#234;n Quang</option>
  <option value="10">L&#224;o Cai</option>
  <option value="11">Điện Bi&#234;n</option>
  <option value="12">Lai Ch&#226;u</option>
  <option value="14">Sơn La</option>
  <option value="15">Y&#234;n B&#225;i</option>
  <option value="17">H&#242;a B&#236;nh</option>
  <option value="19">Th&#225;i Nguy&#234;n</option>
  <option value="20">Lạng Sơn</option>
  <option value="22">Quảng Ninh</option>
  <option value="24">Bắc Giang</option>
  <option value="25">Ph&#250; Thọ</option>
  <option value="26">Vĩnh Ph&#250;c</option>
  <option value="27">Bắc Ninh</option>
  <option value="30">Hải Dương</option>
  <option value="31">Hải Ph&#242;ng</option>
  <option value="33">Hưng Y&#234;n</option>
  <option value="34">Th&#225;i B&#236;nh</option>
  <option value="35">H&#224; Nam</option>
  <option value="36">Nam Định</option>
  <option value="37">Ninh B&#236;nh</option>
  <option value="38">Thanh H&#243;a</option>
  <option value="40">Nghệ An</option>
  <option value="42">H&#224; Tĩnh</option>
  <option value="44">Quảng B&#236;nh</option>
  <option value="45">Quảng Trị</option>
  <option value="46">Thừa Thi&#234;n Huế</option>
  <option value="48">Đ&#224; Nẵng</option>
  <option value="49">Quảng Nam</option>
  <option value="51">Quảng Ng&#227;i</option>
  <option value="52">B&#236;nh Định</option>
  <option value="54">Ph&#250; Y&#234;n</option>
  <option value="56">Kh&#225;nh H&#242;a</option>
  <option value="58">Ninh Thuận</option>
  <option value="60">B&#236;nh Thuận</option>
  <option value="62">Kon Tum</option>
  <option value="64">Gia Lai</option>
  <option value="66">Đắk Lắk</option>
  <option value="67">Đắk N&#244;ng</option>
  <option value="68">L&#226;m Đồng</option>
  <option value="70">B&#236;nh Phước</option>
  <option value="72">T&#226;y Ninh</option>
  <option value="74">B&#236;nh Dương</option>
  <option value="75">Đồng Nai</option>
  <option value="77">B&#224; Rịa - Vũng T&#224;u</option>
  <option value="79">Hồ Ch&#237; Minh</option>
  <option value="80">Long An</option>
  <option value="82">Tiền Giang</option>
  <option value="83">Bến Tre</option>
  <option value="84">Tr&#224; Vinh</option>
  <option value="86">Vĩnh Long</option>
  <option value="87">Đồng Th&#225;p</option>
  <option value="89">An Giang</option>
  <option value="91">Ki&#234;n Giang</option>
  <option value="92">Cần Thơ</option>
  <option value="93">Hậu Giang</option>
  <option value="94">S&#243;c Trăng</option>
  <option value="95">Bạc Li&#234;u</option>
  <option value="96">C&#224; Mau</option>

</select>