#submitLending {
  min-height: calc(100vh - 90px);
  padding-top: 100px;
  background: #808080;
}

section#submitLending .box-submit-lend {
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

section#submitLending .box-submit-lend .section-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

section#submitLending #contentBoxSubmit {
  margin-top: 30px;
}

section#submitLending .header-jumbotron {
  padding: 0px 0px;
  min-width: 50%;
  border-right: 5px solid transparent;
}

section#submitLending .jumbotron {
  padding: 10px 15px;
  border-radius: 0px;
  margin-bottom: 0px;
  background: #EFF8FB;
} 

section#submitLending .jumbotron .row {
  padding-top: 5px;
  padding-bottom: 5px;
}

section#submitLending .box-information {
  text-align: left;
}

section#submitLending #submitButton {
  margin-top: 30px;
}

/* Modal information */

.asio-modal {
  padding-right: 0px !important;
}

.asio-modal .modal-dialog {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 600px;
}

.asio-modal .modal-dialog .modal-content {
  border-radius: 0px!important;
}

.asio-modal .modal-dialog .modal-header .icon-area {
  text-align: center;
  width: 100%;
}

.asio-modal .modal-dialog .modal-header .icon-area img {
  width: 40px;
}

.asio-modal .modal-dialog .modal-header .icon-area a {
  color: #0da8e9;
}

.asio-modal .modal-dialog .header-jumbotron {
  padding: 0px 0px;
  min-width: 50%;
  border-right: 5px solid transparent;
}

.asio-modal .modal-dialog .jumbotron {
  padding: 10px 15px;
  border-radius: 0px;
  margin-bottom: 0px;
  background: #EFF8FB;
} 

.asio-modal .modal-dialog .jumbotron .row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.error-money {
  font-size: 14px;
}