<!-- Footer -->

<div class="loading-icon">
</div>

<footer class="bg-slight">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Asio 2018</span>
      </div>

      <div class="col-md-4">
        
      </div>

      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>

          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="asio-modal modal fade" id="notificationBox" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="d-block icon-area">
          <div>
            <img class="m-auto" src="img/icon/home-logo.png" />
          </div>
          <div>
            <a class="navbar-brand js-scroll-trigger m-auto">Asio Lending</a>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center p-4">
        <p id="notificationBoxMessage" class="font-weight-bold m-auto">Hello</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer text-center modal-footer-1">
        <a class="text-muted m-auto close-notification-box">Close</a>
      </div>

      <div class="modal-footer modal-footer-2 pl-4 pr-4">
        <div class="row not-margin-row w-100">
          <div class="col-6 pl-0">
            <a  class="btn btn-primary btn-sm text-white accept-notification-box">Accept</a>
          </div>

          <div class="col-6 pr-0">
            <a class="btn btn-danger btn-sm float-right text-white close-notification-box">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

