<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> <%- title -%> </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main styles -->
  <link href="css/main.css" rel="stylesheet">

  <style>
    .not-have-element {
      margin-top: 100px;
      margin-bottom: 100px;
      font-style: italic;
      text-align: center;
      display: none;
    } 
  </style>

</head>