<section class="bg-slight" id="about">
  <div class="container big-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">How to lend</h2>
        <hr class="hr-primary" />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12">
        <ul class="timeline">

          <li class="timeline-event" id="timelineEvent0">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/step1.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Step 1</h4>
                <h4 class="subheading">Register a loan</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Host creates a loan and Asio system verify it, then create a loan on Asio lending.</p>
              </div>
            </div>
          </li>

          <li class="timeline-event timeline-inverted" id="timelineEvent1">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/step2.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Step 2</h4>
                <h4 class="subheading">Investor filter loans</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Investor looks for a loan which they want to invest. They make a transaction for that loan.</p>
              </div>
            </div>
          </li>

          <li class="timeline-event" id="timelineEvent2">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/step3.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Step 3</h4>
                <h4 class="subheading">Interest / Debt pay </h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Host pays for their loan (includes Interest and Debt) until this loan is paid completely.</p>
              </div>
            </div>
          </li>


          <li class="timeline-event timeline-inverted" id="timelineEvent3">
            <div class="timeline-image">
              <h4>The loan
                <br>Is closed
                <br>Totally
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>